---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';

const pageTitle="About Me";

const identity = {
  firstName: 'Kento',
  country: 'Japane',
  occupation: 'student',
  hobbies: ['Toloveる'],
};

const skills = ["HTML", "CSS", "JavaScript", "TypeScript"];

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<Layout title={pageTitle}>
	<main>

    <h1>{pageTitle}</h1>
		<p>Here are a few facts about me:</p>
		<ul>
			<li>We are.</li>
			<li>I live in {identity.country} and I work as a {identity.occupation}.</li>
			<li>We love: {identity.hobbies[0]}.</li>
		</ul>
		<p>My skills are:</p>
		<ul>
			{skills.map((e)=><li class="skill">{e}</li>)}
		</ul>
	</main>
</Layout>

<style define:vars = {{skillColor, fontWeight, textCase}}>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		color: purple;
		font-size: 4rem;
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.skill{
		color: var(--skillColor);
		font-weight: var(--fontWeight);
		text-transform: var(--textCase);
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
