---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';

const pageTitle="About Me";

const identity = {
  firstName: 'Kento',
  country: 'Japane',
  occupation: 'student',
  hobbies: ['Toloveる'],
};

const skills = ["HTML", "CSS", "JavaScript", "TypeScript"];

---

<Layout title={pageTitle}>
	<main>
    <h1>{pageTitle}</h1>
		<p>Here are a few facts about me:</p>
		<ul>
			<li>We are.</li>
			<li>I live in {identity.country} and I work as a {identity.occupation}.</li>
			<li>We love: {identity.hobbies[0]}.</li>
		</ul>
		<p>My skills are:</p>
		<ul>
			{skills.map((e)=><li class="skill">{e}</li>)}
		</ul>
	</main>
</Layout>
